<form>
    <div class="form-row">
        <div class="half-input-wrapper">
            <label class="label" for="name">First Name</label>
            <input id="name" class="input" type="text" name="name" [value]="user.first_name" placeholder="First Name">
        </div>
        <div class="half-input-wrapper">
            <label class="label" for="last_name">Last Name</label>
            <input id="last_name" class="input" type="text" name="last_name" [value]="user.last_name" placeholder="Last Name">
        </div>
    </div>
    <div class="form-row">
        <div class="half-input-wrapper">
            <label class="label" for="country">Country</label>
            <input id="country" class="input" type="text" name="country" [value]="user.country" placeholder="Country">
        </div>
        <div class="half-input-wrapper">
            <label class="label" for="city">City</label>
            <input id="city" class="input" type="text" name="city" [value]="" placeholder="City">
        </div>
    </div>
</form>