<div class="settings">
    <div class="content-header">
        Settings
    </div>
    <tabs>
        <tab [title]="'General'">
            <general-form [user]="user"></general-form>
        </tab>
        <tab [title]="'Security Information'">
            In Progress..
        </tab>
    </tabs>
</div>