.posts {
    padding: 20px 15px;
}

.post {
    margin-bottom: 15px;
}

.post-title {
    display: block;
    font-size: 18px;
    padding-top: 15px;
    color: rgba(0,0,0,0.7);
    margin-bottom: 5px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 2px solid $brand-color;
        transition: 0.2s;
    }
    &:hover:after {
        width: 100%;
    }
}


.post-description {
    font-size: 14px;
}

.post-read-more {
    font-size: 12px;
    margin-top: 10px;
    a {
        cursor: pointer;
        background: $brand-color;
        display: inline-block;
        padding: 2px 10px;
        color: rgba(255,255,255,1);
        transition: 0.2s background;
        &:hover{
            background: darken($brand-color, 10%);
        }
    }
}