.tabs-header {
    justify-content: space-around;
    align-content: stretch;
    display: flex;
    width: 100%;
    li {
        flex-basis: 100%;
    }
}

.tabs-content {
    padding: 15px;
}

.settings {
    .tabs-content{
        margin-top: 30px;
    }
}

.btn.tab-btn {
    padding: 15px;
    font-size: 14px;
}