<div class="dashboard">
    <header>
        <div class="content-wrapper">
            Social Network
        </div>
    </header>
    <div class="main content-wrapper">
        <my-sidebar [menuList]="menuList"></my-sidebar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>