<div class="profile">
    <div class="content-header">
        Profile
    </div>
    <div class="profile-background">
        <img [src]="user.profile_background" />
    </div>
    <div class="profile-sidebar">
        <div>
            <img class="profile-image" [src]="user.profile_image">
        </div>
        <div class="profile-info">
            <div>
                <span [innerHTML]="user.first_name"></span>
                <span [innerHTML]="user.last_name"></span>
            </div>
            <div>
                <span [innerHTML]="user.age"></span>
                <span> years old</span>
            </div>
        </div>
    </div>
</div>