@import './variables.scss';
@import './reset.scss';
@import './components/tabs.scss';
@import './components/post.scss';

body {
    width: 100%;
    min-width: 320px;
    font: 16px/1.2 Arial, san-serif;
    background: lighten($sub-brand-color, 10%);
}

.content-wrapper {
    width: 100%;
    padding: 0 15px;
    max-width: 1280px;
    margin: 0 auto;
}

.content-header {
    border-bottom: 2px solid rgba($brand-color,0.5);
    padding: 13px 15px;
    text-align: left;
    width: 100%;
    margin-bottom: 0px;
    color: rgba(0,0,0,0.7);
}

header {
    background: $brand-color;
    padding: 15px;
    margin-bottom: 12px;
}

.main {
    display: flex;
    min-height: calc(100vh - 70px);
}

.sidebar {
    flex-grow: 0;   
    width: 160px;
    margin-right: 30px;
}

.main-navigation-link {
    color: $accent-color;
    cursor: pointer;
    transition: 0.2s background;
    display: block;
    font-size: 14px;
    padding: 6px 5px;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.7);
    &.active,
    &:hover {
        color: rgba(0,0,0,0.7);
        background: rgba($brand-color, 0.7);
    }
}

.content {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    flex-grow: 1;
    background: rgba(#fff, 0.6);
}

.profile {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.profile-background {
    background: $brand-color;
    height: 140px;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    img {
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:before {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
    }
}

.profile-sidebar {
    position: relative;
    width: 240px;
    padding-top: 90px;
    z-index: 4;
    align-self: stretch;
    height: 100%;
    display: flex;
    background: rgba($brand-color, 0.3);
    flex-wrap: wrap;
}

.profile-image {
    left: 45px;
    top: -75px;
    position: absolute;
    border: 2px solid $brand-color;
    background: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    flex-grow: 0;
}

.profile-info {
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: rgba(0,0,0,0.7);
}

.form {
    display: flex;
}

.form-row {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    margin-bottom: 45px;
    justify-content: space-between;
}

.input-wrapper {
    width: 100%;
    flex-basis: 100%;
}

.half-input-wrapper {
    width: calc(50% - 15px);
}

.input {
    font-family: Arial;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,0.3); 
    &:active {
        border-color: rgba(0,0,0,0.7);
    }
}

.label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: rgba(0,0,0,0.7);
}

.btn {
    cursor: pointer;
    display: block;
    width: 100%;
    border: none;
    background: $brand-color;
    padding: 10px 5px;
    transition: 0.2s background;
    color: rgba(0,0,0,0.7);
    &.active,
    &:hover{
        background: $sub-brand-color;
    }
    
}