<div class="news">
    <div class="content-header">
        Last News
    </div>
    <div class="posts">
        <div *ngFor="let post of posts">
            <post [post]="post"></post>
        </div>
    </div>
</div>