<div class="tabs">
    <ul class="tabs-header">
        <li *ngFor="let tab of tabs" (click)="selectTab(tab)">
            <button class="btn tab-btn" [ngClass]="{'active': tab.isActive}">{{tab.title}}</button>
        </li>
    </ul>
    <ul class="tabs-content">
        <ng-content></ng-content>
    </ul>
</div>