<div class="sidebar">
    <nav>
        <a class="main-navigation-link"
           *ngFor="let item of menuList"
           [routerLink]="item.url"
           [routerLinkActive]="['active']">{{item.text}}</a>
    </nav>
</div>