<div class="post">
    <a class="post-title" href="#">
        <h2 [innerHTML]="post.title"></h2>
    </a>
    <div class="post-description">
        <p [innerHTML]="post.description"></p>
    </div>
    <div class="post-read-more">
        <a href="#">Read More</a>
    </div>
</div> 